go 1.18

use (
	./module/awaitgroup
	./module/configure
	./module/ctemplate
	./module/ctxout
	./module/ctxtcell
	./module/dirhandle
	./module/linehack
	./module/runner
	./module/shellcmd
	./module/systools
	./module/taskrun
	./module/tasks
	./module/trigger
	./module/yacl
	./module/yamc
)
